doctype html
html(lang="en")
	head
		//todo: load dc,d3,crossfilter,colorbrewer
		//link(href="bower_components/dc/dc.css")

		link(href="/bower_components/nvd3/build/nv.d3.css" rel='stylesheet' type='text/css')


		style.
			#chart svg{
				height:500px;
				width:900px;
			}

	body
		// speed vs time
		#chart
			svg

		script(src="/bower_components/jquery/dist/jquery.js")
		script(src="/bower_components/d3/d3.js")
		// script(src="/bower_components/crossfilter/crossfilter.js")
		script(src="/bower_components/nvd3/build/nv.d3.js")

		script(type='text/javascript').
			$.get('//localhost:3000/data',function(data){
				var winds = {key:"Wind Speed (kts):",values:[]}
				var temps = {key:"Temperature (C):",values:[]}
				data.forEach(function(el,i){

					winds.values.push({x:+el._id,y:+el.speed});
					temps.values.push({x:+el._id,y:+el.temp});
				})
				
				makeLineChart([winds,temps]);
			})

			function makeLineChart(data){
				nv.addGraph(function() {
					var chart = nv.models.lineChart()
					.useInteractiveGuideline(true)
					.forceY([0,20])
					;

					chart.xAxis
					.axisLabel('Time')
					.tickFormat(function(d) { return d3.time.format("%a %I:%M %p")(new Date(d)) });
				    //.tickFormat(d3.format(',r'))
				    ;

				    chart.yAxis
				    //.axisLabel('Wind Speed (kts)')
				    //.tickFormat(d3.format('.02f'))
				    ;

				    d3.select('#chart svg')
				    .datum(data)
				    .transition().duration(500)
				    .call(chart)
				    ;

				    nv.utils.windowResize(chart.update);

				    return chart;
				});

			}

		
